/* Forms */
body {
    padding: 1em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #b9b9b9;
    background-color: #e3e3e3;
    background-image: url('../img/backgroundvisualisation.jpg');
    background-size: cover;
    background-position: center top 0px; 
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px; 
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col {
    width: calc(25% - 20px);
    margin-bottom: 20px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    margin-top: 10px; /* Ajout de la marge pour descendre le texte */
  }
  
  h4 {
    color: #00f004;
    margin-bottom: 5px;
    margin-top: 10px; /* Ajout de la marge pour descendre le texte */
  }
  
  .input-group {
    display: flex;
    margin-top: 10px; /* Ajout de la marge pour descendre le texte */
  }
  